<script setup>
import { useUrlSearchParams } from '@vueuse/core'
import { ref } from 'vue'

const params = useUrlSearchParams('history')

// Default color values
params.fond ||= '#2e6ac8'
params.n ||= '#ffffff'
params.i ||= '#ffffff'
params.m ||= '#ffffff'

const all = ref('#ffffff')
const applyToAll = () => {
  params.n = all.value
  params.i = all.value
  params.m = all.value
}

const sizes = [256, 128, 64, 32, 16]

const svgs = ref()

const download = () => {
  const elementThatContainSvg = svgs.value[0]
  const svgFirstLine = '<?xml version="1.0" encoding="UTF-8" standalone="no"?>'
  const svgContent = svgFirstLine + elementThatContainSvg.innerHTML
  const svgAsDataUri = 'data:text/svg;charset=utf-8,' + svgContent
  const encodedUri = encodeURI(svgAsDataUri)
  const link = document.createElement('a')
  link.setAttribute('href', encodedUri)
  // Put colors in file name.
  const fileName = `logo_${params.fond.substring(1)}_${params.n.substring(1)}_${params.i.substring(1)}_${params.m.substring(1)}.svg`
  link.setAttribute('download', fileName)
  document.body.appendChild(link) // Required for FF
  link.click()
}
</script>

<template>
  <div style="
    margin-bottom: 2rem;
  ">
    <div>
      <input type="color" v-model="params.fond">
      fond
    </div>
    <div>
      <input type="color" v-model="params.n">
      n
    </div>
    <div>
      <input type="color" v-model="params.i">
      i
    </div>
    <div>
      <input type="color" v-model="params.m">
      m
    </div>
    <div>
      <input type="color" v-model="all" style="margin-right: 1rem;">
      <button @click="applyToAll">apply to all</button>
    </div>
  </div>
  <div>
    <span
      v-for="size in sizes"
      :key="`svg-${size}`"
      style="margin: 1rem;"
      ref="svgs"
    >
      <svg
        :width="`${size}px`"
        :height="`${size}px`"
        viewBox="0 0 16 16"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
      >
        <g>
    
            <!-- Fond -->
            <rect
              :style="{fill: params.fond}"
              width="16"
              height="16"
              x="0"
              y="0" />
    
            <!-- Lettre "n" -->
            <path
              :style="{fill: params.n}"
              d="
                  m 3,3
                  v 4 h 2 v -2 h 2 v 2 h 2 v -4
                  z" />
    
            <!-- Lettre "i" -->
            <path
              :style="{fill: params.i}"
              d="m 11,3 v 4 h 2 v -4 z" />
    
            <!-- Lettre "m" -->
            <path
              :style="{fill: params.m}"
              d="m 3,9 v 4 h 2 v -2 h 2 v 2 h 2 v -2 h 2 v 2 h 2 v -4 z" />
    
        </g>
      </svg>
    </span>
  </div>
  <div>
    <button @click="download">download</button>
  </div>
</template>