<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import NimLogo from './components/NimLogo.vue'
</script>

<template>
  <NimLogo/>
</template>
