:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


button {
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 0.2em 0.8em;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5c95ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  padding: 2rem;
}
